target/*
APDescription.txt
MTPs-Main-Container.txt

.idea/workspace.xml
.idea/tasks.xml
.idea/libraries/*
.idea/inspectionProfiles

SmartGrid.iml

*.json

logs/*

src/main/resources/*

test.csv
output.csv
